.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: 30px;
  color: white;
}

.formContainer {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

label,
input,
button {
  display: block;
  margin-top: 1rem;
}

input {
  width: 100%;
  height: 2rem;
  font-size: 2rem;
}
